
@{
    ViewBag.Title = "Create";
}

<h2>What's your quiz title?!?!?!?</h2>

<form method="POST">
    Title: <input name="title" type="text" />
    <button type="submit">Create Quiz</button>
</form>

