@model BuzzJean.Models.Quiz

@{
    ViewBag.Title = "Quiz";
}

<h2>@Model.title</h2>

<ul>
    @foreach (var question in Model.questions)
    {
        <li>
            @question.question
        </li>
    }
</ul>

<a href="/Make/NewQuestion/@Model.id">Add a new question</a>